.custom-navbar{
    height: 51px;
    background-color: #873042;
}

@media (min-width: 1200px){
    .custom-container {
        width: 1170px;
    }
    @media (min-width: 992px){
        .custom-container {
            width: 970px;
        }

        @media (min-width: 768px){
            .custom-container {
                width: 750px;
            }
            .custom-container {
                padding-right: 15px;
                padding-left: 15px;
                margin-left: 10%;
            }
            @media (min-width: 1200px){
                .custom-container {
                    width: 1170px;
                }
                @media (min-width: 992px){
                    .custom-container {
                        width: 970px;
                    }
                    @media (min-width: 768px) {
                        .custom-container {
                            width: 750px;
                        }

                        .custom-container {
                            padding-right: 15px;
                            padding-left: 15px;
                            margin-left: 10%;
                        }

                        * {
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                        }

                        * {
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
}